<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desplazamiento</title>
</head>
<body>
    <h1>Lista de actividades</h1>
    <div>
        A. Jefes de mantenimiento y de producción.
    </div>
    <br>
    <div class="container">
        1.  Elaboración del proyecto parcial de ampliación. <br>
        2.  Cálculo del costo y preparación de presupuestos. <br>
        3.  Aprobación del proyecto. <br>
        4.  Desempaque de las máquinas nuevas. <br>
        5.  Colocación de las máquinas viejas y nuevas. <br>
        6.  Instalación de las máquinas. <br>
        7.  Pruebas generales. <br>
        8.  Arranque general. <br>
        9.  Revisión y limpieza de máquinas viejas. <br>
        10. Pintura de máquinas viejas. <br>
        11. Pintura y limpieza del edificio. <br>
    </div>
    
</body>
</html>